body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size:xx-large;
    
}

.center {
    display: flex;
    justify-content: center;
    margin-top:3em;
}


.timer {
    display: flex;
    padding:30px;
    background-color: white;
    width: 350px;
    box-shadow: 0px 0px 5px 0px #888888;
    justify-content: center;
}

.seconds {
    padding: 10px;
}

.minutes {
    padding: 10px;
}

.message {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.stop {
    display: flex;
    justify-content: center;
    padding: 50px;
}